<div class="dropdown" style=" right: 30px; position: absolute;">
    <button class="btn btn-info dropdown-toggle rounded" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" >
        @Model.username
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a href="../../home" class="dropdown-item">Người dùng</a>
        <a href="../../home/logout" class="dropdown-item">Đăng xuất</a>
    </div>
</div>