
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Assets/home/css/styleLoginRegister.css">
    <title>Login</title>

</head>
<body>
    <section style="background: url(/Assets/home/images/background4.jpg) no-repeat; background-size: 100%;">
        <div class="form-box">
            <div class="form-value">
                    <h2>Đăng Nhập</h2>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="username" required id="username">
                        <label for="">Username</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" required id="password">
                        <label for="">Mật khẩu</label>
                    </div>
                    <div id="errorMsg"></div>
                    <div class="forget">
                        <label for="">
                            <a href="#">Quên mật khẩu</a>
                        </label>
                    </div>
                    <button id="login">Đăng nhập</button>
                    <div class="register">
                        <a href="register.html">Đăng kí tài khoản.</a>
                    </div>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="~/Assets/home/vendor/jquery/jquery.min.js"></script>
    <script>
        $(document).on('click', "#login", function () {

            var usname = $("#username").val();
            var password = $("#password").val();
            console.log(usname, password)
                $.ajax({
                    url: '/Home/UsLogin',
                    type: 'post',
                    data: {
                        username: usname,
                        password: password,
                    },
                    success: function (data) {
                        console.log(data)
                        if (data.code == 200) {
                            window.location = data.link;
                            

                        } else {
                            console.log(data.msg);
                            $("#errorMsg").empty();
                            $("#errorMsg").append(data.msg);

                        }
                    }
                })
        });
    </script>
</body>

</html>
