<div class="location" style="background-color:whitesmoke">
    <img style="background-color:whitesmoke" src="~/Assets/home/images/location.png" alt="">
    <span style="background-color:whitesmoke">@Model.location</span>
</div>

<hr>
<div style="background-color:whitesmoke">
    <h3 style="background-color:whitesmoke">Công ty chúng tôi</h3>
    <span style="background-color:whitesmoke">@Model.detail</span>
</div>