@model List<Final.Models.Slide>
@foreach (var item in Model)
{
    <div class="card">
        <div class="face face1">
            <div class="container" id="container-card">
                <i class="fab fa-windowns"></i>
                <h3>@item.title</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="container">
                <p>@item.description</p>
            </div>
        </div>
    </div>
}

