@model List<Final.Models.JobCategory>
@foreach (var item in Model)
{
    <a class="mb-2" style="text-align:start;color:white" href="/_cong_viec/@item.meta"><h2>@item.name</h2></a>

    <div class="row-m-4">
        <div class="row-FBF">
            @Html.Action("Job", "Home", new { id = item.id})
        </div>
    </div>
}


